-- MySQL dump 10.13  Distrib 8.0.21, for Win64 (x86_64)
--
-- Host: localhost    Database: linkd
-- ------------------------------------------------------
-- Server version	8.0.21

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `linkd`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `linkd` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `linkd`;

--
-- Table structure for table `actions`
--

DROP TABLE IF EXISTS `actions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `actions` (
  `action_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `user_position` varchar(10) DEFAULT NULL,
  `user_email` varchar(20) DEFAULT NULL,
  `action_type` varchar(50) DEFAULT NULL,
  `other_stuff` varchar(20) DEFAULT NULL,
  `start_action` date NOT NULL,
  `end_action` date DEFAULT '2021-07-07',
  `schedule` time NOT NULL,
  `action_town` varchar(20) DEFAULT NULL,
  `action_location` varchar(20) DEFAULT NULL,
  `other_location` varchar(20) DEFAULT NULL,
  `product` varchar(100) DEFAULT NULL,
  `speaker` tinyint(1) DEFAULT NULL,
  `speaker_suggestion` varchar(20) DEFAULT NULL,
  `speaker_transfer` tinyint(1) NOT NULL DEFAULT '0',
  `speaker_accommodation` tinyint(1) NOT NULL DEFAULT '0',
  `meeting_agenda` varchar(300) DEFAULT NULL,
  `meeting_theme` varchar(50) DEFAULT NULL,
  `pax_number` int NOT NULL,
  `action_field` varchar(100) DEFAULT NULL,
  `invited_doctors` varchar(300) DEFAULT NULL,
  `other_doctors` varchar(20) DEFAULT NULL,
  `comments` varchar(100) DEFAULT NULL,
  `status` varchar(50) DEFAULT "En attente d'envoie VM",
  `VM_validation` int DEFAULT NULL,
  `DSM_supervisor` int DEFAULT NULL,
  `CDP_supervisor` int DEFAULT NULL,
  `DSM_validation` int DEFAULT NULL,
  `CDP_validation` int DEFAULT NULL,
  `MED_validation` int DEFAULT NULL,
  `VM_rejection` int DEFAULT NULL,
  `DSM_rejection` int DEFAULT NULL,
  `CDP_rejection` int DEFAULT NULL,
  PRIMARY KEY (`action_id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actions`
--

LOCK TABLES `actions` WRITE;
/*!40000 ALTER TABLE `actions` DISABLE KEYS */;
/*!40000 ALTER TABLE `actions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctors`
--

DROP TABLE IF EXISTS `doctors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctors` (
  `doctor_id` int NOT NULL AUTO_INCREMENT,
  `doctor_fname` varchar(20) DEFAULT NULL,
  `doctor_lname` varchar(20) DEFAULT NULL,
  `doctor_age` int NOT NULL,
  `doctor_field` varchar(20) DEFAULT NULL,
  `doctor_potential` varchar(20) DEFAULT NULL,
  `VM_supervisors` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`doctor_id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctors`
--

LOCK TABLES `doctors` WRITE;
/*!40000 ALTER TABLE `doctors` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `localisation`
--

DROP TABLE IF EXISTS `localisation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `localisation` (
  `localisation_id` int NOT NULL AUTO_INCREMENT,
  `localisation_name` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`localisation_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `localisation`
--

LOCK TABLES `localisation` WRITE;
/*!40000 ALTER TABLE `localisation` DISABLE KEYS */;
INSERT INTO `localisation` VALUES (1,'Tunis'),(2,'Bizerte'),(3,'Medenine'),(4,'Le Kef');
/*!40000 ALTER TABLE `localisation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `notification_id` int NOT NULL AUTO_INCREMENT,
  `notification_name` varchar(200) DEFAULT NULL,
  `notification_sender` int DEFAULT NULL,
  `notification_VM_supervisor` int DEFAULT NULL,
  `notification_DSM_supervisor` int DEFAULT NULL,
  `notification_CDP_supervisor` int DEFAULT NULL,
  `markAsRead_VM_supervisor` tinyint(1) NOT NULL DEFAULT '0',
  `markAsRead_DSM_supervisor` tinyint(1) NOT NULL DEFAULT '0',
  `markAsRead_CDP_supervisor` tinyint(1) NOT NULL DEFAULT '0',
  `recieved_since` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`notification_id`)
) ENGINE=InnoDB AUTO_INCREMENT=109 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `user_email` varchar(50) DEFAULT NULL,
  `user_password` varchar(200) DEFAULT NULL,
  `user_position` varchar(20) DEFAULT 'VM',
  `VM_supervisor` int DEFAULT NULL,
  `DSM_supervisor` int DEFAULT NULL,
  `CDP_supervisor` int DEFAULT NULL,
  `user_avatar` varchar(100) DEFAULT 'https://i.pinimg.com/originals/2c/b5/b7/2cb5b7bfa9506a980435078b0d41379d.gif',
  `resetPasswordToken` varchar(70) DEFAULT NULL,
  `resetPasswordExpires` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `user_email` (`user_email`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2021-08-31 10:25:06
